# Masukan APP ID ambil di web my.telegram.org
API_KEY = "629655477"

# Masukan API HASH ambil di web my.telegram.org
API_HASH = "2de42d28d36e637c54d5571df5679b7d"

# Masukan String Telethon Bisa di ambil Lewat t.me/StringManRobot
# Atau Ambil Manual dengan menjalankan cmd `bash sessiongen`
STRING_SESSION = "1BVtsOJABuxcu1l99t8PoCLSP96vqCJtXrSbqZVibvZYWLzW6M1gLj585k1EfwfTGE6czt7-5iH2A8bhJaHnbKN7LTypfm379n413sWGW3bePPvLiLwQ9nn1BQI2S9107jHpM_ry2bHd7QqWprQnOMrtfqw0YddEtk7bcvscxVzMQ8_qqA1a8J2xs5SjjHRxIWYw0w9ZYg71038QUXY6pYOfYgys6Ka2RD031yl_Ikp-pyUjHou4lw88eBe2UpFr9cYk0fFKk9rkbdz8gv10FuWRQONvEgantZ4495dsRzPzGHojT-d1VyRGZARwMhKpUZ7Ilsg7M5jRgg2E9PzLaKT--HUgd6Hw="

# Masukan BOT TOKEN dari @botfather
BOT_TOKEN = "8161596156:AAFMS46steGmUzCJHzBKzLQmL24QOgQan88"

# Masukan Chat ID dari Group Untuk Bot Log Userbot
# Bila tidak ingin pakai Log userbot, isi dengan 0
BOTLOG_CHATID = -1002693386777 # this is an integer, please don't use quotes.

# Masukan URL Database Anda, Ambil dari https://elephantsql.com
# Contoh: "postgres://userbot:userbot@localhost:5432/userbot"
DATABASE_URL = "mongodb+srv://aseppp:aseppp@cluster0.bocyf5q.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0"

# Fitur PMPERMIT Untuk Mengaktifkan Ubah ke True
# Untuk Menonaktifkan Ubah ke False
PM_AUTO_BAN = False

